<strong>Olá {{owner}},</strong>
<p>Houve uma incrição em um evento organizado por você:</p>
<p>
  <strong style="text-transform:uppercase">Evento</strong><br>
  <p><strong>Nome:</strong> {{title}}</p>
  <p><strong>Data/Hora:</strong> {{date}} </p>
  <br>
  <strong style="text-transform:uppercase">Inscrito</strong>
  <p> <strong>Nome:</strong> {{user}} </p>
  <small><strong>Se necessário entre em contato com ele através do e-mail {{email}}</strong></small>
</p>
